/* Custom Properties */

/* Color Pallete */
:root {
  --black: #000000ff;
  --ebony: #5a6650ff;
  --non-photo-blue: #a7e2e3ff;
  --argentinian-blue: #73bafcff;
  --white-smoke: #f6f5f5ff;
}

body {
  overflow-x: hidden;
}

#indexText {
  margin: auto;
}

.indexText {
  font-size: 8rem;
  text-shadow: 2rem 2rem #0000001f;
}

.tab1 {
  margin-left: 4%;
  margin-right: 0;
}

.tab2 {
  margin-left: 10%;
  margin-right: 0;
}

#headshot2 {
  width: 25rem;
  height: 25rem;
  margin: 4rem auto;
}

#paragraph2 {
  margin-top: 15rem;
}

#scroll {
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#scroll::-webkit-scrollbar {
  display: none;
}
