/* Custom Properties */

/* Color Palette */
:root {
  --text: #010400;
  --background: #f42a74;
  --accent: #6cefdd;
  --primary: #92117d;
  --secondary: #f6f5f5ff;
}

body {
  overflow-x: hidden;
  animation: color 10s 1;
  background-color: var(--secondary);
  font-family: "Noto Sans", sans-serif;
}

#navBackground {
  background-color: var(--text);
  color: var(--accent);
}

#navBackground a {
  color: var(--accent);
  text-decoration: none;
}

#navBackground a:hover {
  color: var(--background);
}

#pageHeadings {
  padding-top: 6%;
}

#pageHeadings:hover {
  color: var(--accent);
}

#indexText {
  margin: auto;
}

.indexText {
  font-size: 8rem;
  text-shadow: 2rem 2rem #0000001f;
}

.one:hover {
  color: var(--background);
}

.two:hover {
  color: var(--primary);
}

.three:hover {
  color: var(--accent);
}

.tab1 {
  margin-left: 4%;
  margin-right: 0;
}

.tab2 {
  margin-left: 10%;
  margin-right: 0;
}

#headshot2 {
  width: 25rem;
  height: 25rem;
  margin: 4rem auto;
}

#headshot2:hover {
  border: 10px double var(--primary);
}

#aboutBorder {
  border: 3px solid var(--accent);
}

.br {
  display: block;
  margin: 0.5rem 0;
}

#reason {
  height: 450px;
}

#skillsBlock {
  margin: 0 auto;
}

#skillsNav a {
  text-decoration: none;
}

#skillsGif {
  width: 20rem;
}

#skillsBox {
  border-radius: 30px;
  border: solid 5px var(--background);
  background-color: var(--accent);
  width: 20rem;
  height: 25rem;
  text-align-last: auto;
  box-shadow: 5px 5px 5px var(--text);
}

#skillsBlock {
  border-radius: 30px;
  border: double 10px var(--primary);
  background-color: var(--accent);
  margin-bottom: 3rem;
  box-shadow: 10px 10px 10px var(--text);
}

#navLinks {
  margin: auto;
  padding: 0;
  width: 6rem;
  height: 3rem;
  color: #ffffff;
}

#aboutLink {
  width: 6rem;
  height: 6rem;
  animation: spin 10s infinite;
}

.fa-circle-chevron-down,
.fa-circle-chevron-up {
  color: var(--secondary);
}

i {
  color: var(--text);
}

i:hover {
  color: var(--background);
  box-shadow: var(--background);
  animation: spin 2s infinite;
}

body #scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 70%;
  height: 25rem;
  margin: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#scrollItem {
  width: 10rem;
  height: 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#scroll::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
  50% {
    transform: rotate(360deg);
  }
}

@keyframes color {
  0% {
    color: var(--text);
  }

  20% {
    color: var(--background);
  }
  40% {
    color: var(--primary);
  }
  60% {
    color: var(--accent);
  }
  80% {
    color: var(--secondary);
  }
  100% {
    color: var(--text);
  }
}

form {
  width: 60rem;
  height: auto;
  margin: auto;
  border-radius: 30px;
}
